<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<a id="top"></a>
<div class="filters">
    <a href="/food/location=<%= city %>/price=low" class="<%= price==='low' ? 'active' : '' %>">$</a>
    <a href="/food/location=<%= city %>/price=med" class="<%= price==='med' ? 'active' : '' %>">$$</a>
    <a href="/food/location=<%= city %>/price=high" class="<%= price==='high' ? 'active' : '' %>">$$$</a>
    <a href="/food/location=<%= city %>/price=ultraHigh" class="<%= price==='ultraHigh' ? 'active' : '' %>">$$$$</a>
</div>
<a href="/food/location=<%= city %>/price=all" id="clearFilters">Clear Filter</a>

<main class="foodListings">
    <h3>Top Restaurants in <span style="text-transform:capitalize"><%= city %></span></h3>
        
    <% restaurants.forEach(rest => { %>
        <div class="restaurant">
            <div class="restImg">
                <% if(rest.image_url){%>
                    <img src="<%= rest.image_url %>">
                    <%}else{%>
                    <img src="https://images.unsplash.com/photo-1575833947349-69324d765146"> 
                    <%}%> 
            </div>
            <div class="restInfo">
                <div class="restInfoCol">
                    <p class="restName"><%= rest.name %></p>
                    <p class="restAddress"><%= rest.location.address1 %> <%= rest.location.address2 %></p>
                    <p class="restAddress"><%= rest.location.address3 %></p>
                    <p class="restAddress"><%= rest.location.city %>, <%= rest.location.state %> <%= rest.location.zip_code %></p>
                    <a href="tel:<%= rest.phone %>"><p class="restPhone"><%= rest.display_phone %></p></a>
                </div>
                <div class="restInfoCol">
                    <a href="/food/location=<%=city%>/price=<%= price %>/id=<%= rest.id %>"><button class="restBtn">Info</button></a>
                    <a href="/food/location=<%=city%>/price=<%= price %>/id=<%= rest.id %>/save"><button class="recBtn">Rec</button></a>
                    <div class="restRating">
                        <% const star = rest.rating %>
                        <% for(i=1; i<=star; i++) { %>
                            <img class="restRatingStars" src="/images/star.svg">
                        <% } %>
                    </div>
                    <% const miles = rest.distance * 0.00062 %>
                    <p><%= rest.price %> | <%= miles.toFixed(1) %> miles</p>  
                </div>
            </div>
        </div>
    <% }) %>
    <a href="#top"><i class="fas fa-arrow-up" id="topArrow"></i></a>
</main>

<%- include('../partials/footer') %>