<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main id="foodShow">

    <div class="restImg">
        <% if(restaurant.image_url){%>
        <img src="<%= restaurant.image_url %>">
        <%}else{%>
        <img src="https://images.unsplash.com/photo-1575833947349-69324d765146?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"> 
        <%}%>    
    </div>

    <section>
        <div class="restInfo">
            <div class="restInfoCol">
                <h3 class="restName"><%= restaurant.name %></h3>
                <div class="restRating">
                    <% const star = restaurant.rating %>
                    <% for(i=1; i<=star; i++) { %>
                        <img class="restRatingStars" src="/images/star.svg">
                    <% } %>
                </div>
                <p class="restAddress"><%= restaurant.location.address1 %> <%= restaurant.location.address2 %></p>
                <p class="restAddress"><%= restaurant.location.address3 %></p>
                <p class="restAddress"><%= restaurant.location.city %>, <%= restaurant.location.state %> <%= restaurant.location.zip_code %></p>
                <p class="restPhone"><%= restaurant.display_phone %></p>
            </div>
            <div class="restInfoCol">
                <a href="<%= restaurant.url %>" target="_blank" rel="noopener noreferrer"><button class="restBtn" style="width:150px"><i class="fab fa-yelp"></i> Yelp</button></a>
                <a href="/food/location=<%=city%>/price=<%= price %>/id=<%= restaurant.id %>/save"><button class="recBtn" style="width:150px"><i class="fas fa-users"></i> Rec</button></a>
            </div>
        </div>
    
        <div class="foodImgCol">
            <% restaurant.photos.forEach(url => { %>
                <div class="foodImg">
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><img src="<%= url %>"></a>
                </div>
            <% }) %>
        </div>
    </div>


    <div class="restReviews">
        <h4>Reviews</h4>
        <% for(i=0;i<reviews.length; i++) { %>
            <p class="reviewInfo">
                <span class="userImg">
                    <img src="<%= reviews[i].user.image_url %>">
                </span>
                <span><%= reviews[i].user.name %></span>
            </p>
            <p><%= reviews[i].text %> <a target="_blank" rel="noopener noreferrer" href="<%= reviews[i].url %>">See More</a></p>
       <% } %>
 
    </div>

</main>

<%- include('../partials/footer') %>