<%- include('../partials/header') %>
<nav id="navBar">
    <%- include('../partials/logo') %>
    <%- include('../partials/search') %>
</nav>

<main id="foodShow">

    <div class="restImg">
        <img src="<%= restaurant.image_url %>">
    </div>

    <section>
        <div class="restInfo">
            <div class="restInfoCol">
                <h3 class="restName"><%= restaurant.name %></h3>
                <div class="restRating">
                    <% const star = restaurant.rating %>
                    <% for(i=1; i<=star; i++) { %>
                        <img class="restRatingStars" src="/images/star.svg">
                    <% } %>
                    <!-- check if whole number, if decimal, add half-star img -->
                </div>
                <p class="restAddress"><%= restaurant.location.address1 %> <%= restaurant.location.address2 %></p>
                <p class="restAddress"><%= restaurant.location.address3 %></p>
                <p class="restAddress"><%= restaurant.location.city %>, <%= restaurant.location.state %> <%= restaurant.location.zip_code %></p>
                <p class="restPhone"><%= restaurant.display_phone %></p>
            </div>
            <div class="restInfoCol">
                <a href="<%= restaurant.url %>" target="_blank" rel="noopener noreferrer"><button class="restBtn">Order On Yelp</button></a>
            </div>
        </div>
    
        <div class="foodImgCol">
            <% restaurant.photos.forEach(url => { %>
                <div class="foodImg">
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><img src="<%= url %>"></a>
                </div>
            <% }) %>
        </div>
    
        <div class="restReviews">
            
        </div>
    </section>

</main>

<%- include('../partials/footer') %>