<%- include('../partials/header') %>
<nav id="navBar">
    <%- include('../partials/logo') %>
    <%- include('../partials/search') %>
</div>
<main id="foodListings">
    <h3>Top Restaurants in <span style="text-transform:capitalize"><%= city %></span></h3>
    <form class="filters" method="GET" action="">
        <button type="submit" id="price" name="price" value="low">$</button>
        <button type="submit">$$</button>
        <button type="submit">$$$</button>
        <button type="submit">$$$$</button>
    </form>
    <% restaurants.forEach(rest => { %>
        <div class="restaurant">
            <div class="restImg">
                <img src="<%= rest.image_url %>">
            </div>
            <div class="restInfo">
                <div class="restInfoCol">
                    <p class="restName"><%= rest.name %></p>
                    <p class="restAddress"><%= rest.location.address1 %> <%= rest.location.address2 %></p>
                    <p class="restAddress"><%= rest.location.address3 %></p>
                    <p class="restAddress"><%= rest.location.city %>, <%= rest.location.state %> <%= rest.location.zip_code %></p>
                    <p class="restPhone"><%= rest.display_phone %></p>
                    <a href="/food/location=<%=city%>/page=<%= page %>/price=<%= price %>/id=<%= rest.id %>"> 
                </div>
                <div class="restInfoCol">
                    <button class="restBtn">See More</button></a>
                    <div class="restRating">
                        <% const star = rest.rating %>
                        <% for(i=1; i<=star; i++) { %>
                            <img class="restRatingStars" src="/images/star.svg">
                        <% } %>
                    </div>
                    <% const meters = rest.distance %>
                    <% const miles = rest.distance * 0.00062 %>
                    <p><%= rest.price %> | <%= miles.toFixed(1) %> miles</p>  
                </div>
            </div>
        </div>
    <% }) %>

</main>

<%- include('../partials/footer') %>
